.moon-right {
  left: 0px;
  transition: left 0.6s ease-out;
}

.moon-left {
  left: 80px;
  transition: left 0.6s ease-out;
}

.sun-right {
  left: 200px;
  transition: left 0.8s ease-out;
}

.sun-left {
  left: 40px;
  transition: left 0.8s ease-out;
}

.invisible {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.visible {
  opacity: 0.8;
  transition: opacity 0.6s 0.2s ease-out;
}

.visibleCloud {
  opacity: 1;
  transition: opacity 0.6s ease-out;
}
